{{!
===============================================================================
2 Banners appear at first row on Home 03
===============================================================================
}}

<div class="emthemesModez-bannersContainer emthemesModez-bannersContainer--laparis2">

	{{> components/emthemes-modez/banners/laparis2-item
		url=(lang (concat (concat "emthemesmodez.banners.laparis2_" index) ".banner1.url"))
		image=(lang (concat (concat "emthemesmodez.banners.laparis2_" index) ".banner1.image"))
		title=(lang (concat (concat "emthemesmodez.banners.laparis2_" index) ".banner1.title"))
		text=(lang (concat (concat "emthemesmodez.banners.laparis2_" index) ".banner1.text"))
		button=(lang (concat (concat "emthemesmodez.banners.laparis2_" index) ".banner1.button"))
	}}

	{{> components/emthemes-modez/banners/laparis2-item
		url=(lang (concat (concat "emthemesmodez.banners.laparis2_" index) ".banner2.url"))
		image=(lang (concat (concat "emthemesmodez.banners.laparis2_" index) ".banner2.image"))
		title=(lang (concat (concat "emthemesmodez.banners.laparis2_" index) ".banner2.title"))
		text=(lang (concat (concat "emthemesmodez.banners.laparis2_" index) ".banner2.text"))
		button=(lang (concat (concat "emthemesmodez.banners.laparis2_" index) ".banner2.button"))
	}}

</div>
