{{!
===============================================================================
Large banner appear at third row on Home 03
===============================================================================
}}

<div class="emthemesModez-bannersContainer emthemesModez-bannersContainer--laparis4">

	{{> components/emthemes-modez/banners/laparis4-item
		url=(lang (concat (concat "emthemesmodez.banners.laparis4_" index) ".banner.url"))
		image=(lang (concat (concat "emthemesmodez.banners.laparis4_" index) ".banner.image"))
		title=(lang (concat (concat "emthemesmodez.banners.laparis4_" index) ".banner.title"))
		text=(lang (concat (concat "emthemesmodez.banners.laparis4_" index) ".banner.text"))
		button=(lang (concat (concat "emthemesmodez.banners.laparis4_" index) ".banner.button"))
	}}

</div>
