<div class="navPage-subMenu navPage-subMenu--mega1 u-textAlignCenter" id="navPages-{{#if type '===' 'category'}}{{id}}{{else}}page-{{@index}}{{/if}}" aria-hidden="true" tabindex="-1">
    <ul class="navPage-subMenu-list navPage-subMenu-list--maxCol5">

        <li class="navPage-subMenu-item">
            <div class="navPage-subMenu-action navPages-action">
                <p><img src="https://placehold.it/210x50" alt="Parallax Bag"></p>
                <p>With <strong>20+ Pages</strong> mauris at bibendum ex, sit amet ornare quam rerit lectus sagittis.</p>
                <p><a class="button" href="#">Read More</a></p>
            </div>
        </li>

        <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="#"><img src="https://placehold.it/210x270" alt="Home 1"></a>
        </li>

        <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="#"><img src="https://placehold.it/210x270" alt="Home 2"></a>
        </li>

        <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="#"><img src="https://placehold.it/210x270" alt="Home 3"></a>
        </li>

        <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="#"><img src="https://placehold.it/210x270" alt="Home 4"></a>
        </li>

    </ul>
</div>
