<div class="navPage-subMenu navPage-subMenu--mega2" id="navPages-{{#if type '===' 'category'}}{{id}}{{else}}page-{{@index}}{{/if}}" aria-hidden="true" tabindex="-1">
    <ul class="navPage-subMenu-list">
        <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{lang 'category.view_all.name' category=name}} {{> components/emthemes-modez/common/navigation-label}}</a>
        </li>
        {{#each children}}
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{name}} {{> components/emthemes-modez/common/navigation-label}}</a>
            </li>
        {{/each}}
    </ul>
    <div class="navPage-subMenu-banner-list">
        <div class="navPage-subMenu-banner-item"><a href="https://bolioptics.com/magnifiers/esd-safe/"><img src="https://cdn7.bigcommerce.com/s-y7qa3t3bno/product_images/uploaded_images/megamenu-magnifier3-web.jpg" alt="ESD Magnifier"></a></div>
        <div class="navPage-subMenu-banner-item"><a href="https://bolioptics.com/vertical-post-height-600mm-stand-base-mg16310101/"><img src="https://cdn7.bigcommerce.com/s-y7qa3t3bno/product_images/uploaded_images/megamenu-magnifierstand-web.jpg" alt="Magnifier Stand"></a></div>
    </div>
</div>
