<div class="emthemesModez-productLoading emthemesModez-productLoading--maxCol2">
	<div class="emthemesModez-productLoading-item"><img src="{{cdn theme_settings.image_product_loading}}" alt="loading" title="loading" /></div>
	<div class="emthemesModez-productLoading-item"><img src="{{cdn theme_settings.image_product_loading}}" alt="loading" title="loading" /></div>
	<div class="emthemesModez-productLoading-item"><img src="{{cdn theme_settings.image_product_loading}}" alt="loading" title="loading" /></div>
	<div class="emthemesModez-productLoading-item"><img src="{{cdn theme_settings.image_product_loading}}" alt="loading" title="loading" /></div>
</div>
