---
blog:
    posts:
        limit: 5
        pages: 3
        summary: 500
products:
    new:
        limit: 5
---
{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<h1 class="page-heading page-heading--blog {{#if theme_settings.hide_blog_heading}}hide{{/if}}">{{ blog.name }}</h1>

<div class="page">

    <aside class="page-sidebar">
        {{> components/emthemes-modez/blog/sidebar}}
    </aside>

    <main class="page-content emthemesModez-blog--2col-featured">
        {{#each blog.posts}}
            {{> components/blog/post post=this settings=../settings hide_social_icons=true}}
        {{/each}}

        {{> components/common/paginator pagination.blog}}
    </main>

</div>

{{/partial}}
{{> layout/base}}
