---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

    <div itemscope itemtype="http://schema.org/Product" class="jam" oncopy="return false" oncut="return false" onpaste="return false">
        {{> components/products/product-view schema=true}}

        {{{region name="product_below_content"}}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#if settings.show_product_reviews}}
        {{#if product.reviews.total '>' 0}}
            <div class="productView-reviewTabs">
                <ul class="tabs" data-tab role="tablist">
                    <li class="tab is-active" role="presentational">
                        <a class="tab-title" href="#tab-reviews" role="tab" tabindex="0" aria-selected="true" controls="tab-reviews">{{lang 'products.reviews.header' total=product.reviews.total}}</a>
                    </li>
                </ul>
                <div class="tabs-contents">
                    <div role="tabpanel" aria-hidden="false" class="tab-content is-active" id="tab-reviews">
                        <div class="emthemesModez-mobile-collapse-content">
                            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        {{/if}}

        {{!--
        {{> components/products/tabs}}
        --}}
        {{#if product.related_products}}
            <h2 class="productView-section-heading">{{lang 'products.related_products'}}</h2>
            <div class="productView-related">
                {{> components/products/carousel products=product.related_products columns=5}}
            </div>
        {{/if}}
        {{#if product.similar_by_views}}
            <h2 class="productView-section-heading">{{lang 'products.similar_by_views'}}</h2>
            <div class="productView-similar">
                {{> components/products/carousel products=product.similar_by_views columns=5}}
            </div>
        {{/if}}
    </div>

    <div class="bundleProducts-progressModal">
        <h3 class="bundleProducts-progressModal-heading">{{lang 'bundle_product.progress_heading'}}</h3>
        <div class="progressBar animate">
            <span style="width: 0" class="bundleProducts-progressModal-current"><span></span></span>
        </div>
    
        <div class="bundleProducts-progressModal-actions">
            <a href="{{urls.cart}}" class="button button--primary previewCartCheckout-viewCartButton">
                {{lang 'cart.added_to_cart.view_or_edit_cart'}}
            </a>
            <a href="#" class="button button--primary previewCartCheckout-continueButton" data-close>
                {{lang 'cart.added_to_cart.continue_shopping'}}
            </a>
        </div>
    </div>
    <div class="bundleProducts-progressModal-overlay"></div>
{{/partial}}
{{> layout/base}}
