// =============================================================================
// FOOTER (Settings)
// =============================================================================

$footer-background:                             stencilColor("footer-backgroundColor");
$footer-borderColor:                            stencilColor("footer-borderColor"); // emthemesModez - parallaxbag
$footer-heading-fontColor:                      stencilColor("footer-heading-fontColor");
