
//
// Alternate social link styles
// -----------------------------------------------------------------------------

.socialLinks {
	line-height: 1;
}

.socialLinks--alt {
	line-height: 1;

	.icon {
		svg {
			fill: $socialLinks-alt-iconColor;
		}
	}
}

.socialLinks-item--google_plusone {
	display: none;
}
