{{> components/products/filter sort=pagination.category.sort}}

{{! GIAO: REMOVED FORM PRODUCT COMPARE AS IT NEST WISHLIST FORM }}

{{#if theme_settings.product_list_display_mode '===' 'grid'}}
    {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
{{else}}
    {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
{{/if}}

{{> components/common/paginator pagination.category}}
