<div class="emthemesModez-section emthemesModez-section--parallaxbag-someFeatures" data-parallax="scroll" data-image-src="{{lang 'parallaxbag.some_features.bg_img'}}">
	<div class="parallaxbag-someFeaturesSection container">
		<h2 class="page-heading">{{lang "parallaxbag.some_features.heading"}}</h2>
		<h3 class="page-subheading">{{lang "parallaxbag.some_features.subheading"}}</h3>
		<div class="emthemesModez-bannersContainer">
			{{> components/emthemes-modez/banners/banner
				url=(lang "parallaxbag.some_features.banner_1.url")
				image=(lang "parallaxbag.some_features.banner_1.image")
				title=(lang "parallaxbag.some_features.banner_1.title")
				button=(lang "parallaxbag.some_features.banner_1.button")
				text=(lang "parallaxbag.some_features.banner_1.text")
				style="parallaxbag-someFeatures"
			}}

			{{> components/emthemes-modez/banners/banner
				url=(lang "parallaxbag.some_features.banner_2.url")
				image=(lang "parallaxbag.some_features.banner_2.image")
				title=(lang "parallaxbag.some_features.banner_2.title")
				button=(lang "parallaxbag.some_features.banner_2.button")
				text=(lang "parallaxbag.some_features.banner_2.text")
				style="parallaxbag-someFeatures"
			}}

			{{> components/emthemes-modez/banners/banner
				url=(lang "parallaxbag.some_features.banner_3.url")
				image=(lang "parallaxbag.some_features.banner_3.image")
				title=(lang "parallaxbag.some_features.banner_3.title")
				button=(lang "parallaxbag.some_features.banner_3.button")
				text=(lang "parallaxbag.some_features.banner_3.text")
				style="parallaxbag-someFeatures"
			}}

			{{> components/emthemes-modez/banners/banner
				url=(lang "parallaxbag.some_features.banner_4.url")
				image=(lang "parallaxbag.some_features.banner_4.image")
				title=(lang "parallaxbag.some_features.banner_4.title")
				button=(lang "parallaxbag.some_features.banner_4.button")
				text=(lang "parallaxbag.some_features.banner_4.text")
				style="parallaxbag-someFeatures"
			}}
		</div>
		<div class="parallaxbag-someFeaturesSection-bottomButton"><a class="button" href="{{lang 'parallaxbag.some_features.button_link'}}">{{lang "parallaxbag.some_features.button_text"}}</a></div>
	</div>
</div>
