<div class="emthemesModez-section emthemesModez-section--parallaxbag-footerThreeBanners">
    <div class="parallabag-footerThreeBanners">
        <div class="emthemesModez-bannersContainer">
            {{> components/emthemes-modez/banners/banner
                url=(lang "parallaxbag.footer_three_banners.banner_1.url")
                image=(lang "parallaxbag.footer_three_banners.banner_1.image")
                title=(lang "parallaxbag.footer_three_banners.banner_1.title")
                button=(lang "parallaxbag.footer_three_banners.banner_1.button")
                text=(lang "parallaxbag.footer_three_banners.banner_1.text")
                style="parallaxbag-footerThreeBanners"
            }}

            {{> components/emthemes-modez/banners/banner
                url=(lang "parallaxbag.footer_three_banners.banner_2.url")
                image=(lang "parallaxbag.footer_three_banners.banner_2.image")
                title=(lang "parallaxbag.footer_three_banners.banner_2.title")
                button=(lang "parallaxbag.footer_three_banners.banner_2.button")
                text=(lang "parallaxbag.footer_three_banners.banner_2.text")
                style="parallaxbag-footerThreeBanners"
            }}

            {{> components/emthemes-modez/banners/banner
                url=(lang "parallaxbag.footer_three_banners.banner_3.url")
                image=(lang "parallaxbag.footer_three_banners.banner_3.image")
                title=(lang "parallaxbag.footer_three_banners.banner_3.title")
                button=(lang "parallaxbag.footer_three_banners.banner_3.button")
                text=(lang "parallaxbag.footer_three_banners.banner_3.text")
                style="parallaxbag-footerThreeBanners"
            }}
        </div>
    </div>
</div>
