<div class="emthemesModez-section emthemesModez-section--parallaxbag-video" {{#if theme_settings.enable_parallax}}data-parallax="scroll" data-image-src="{{lang 'parallaxbag.video.bg_img'}}"{{else}}style="background-image:url({{lang 'parallaxbag.video.bg_img'}})"{{/if}}>
	<div class="parallaxbag-videoSection container">
		<h2 class="page-heading">{{lang 'parallaxbag.video.heading'}}</h2>
		<h3 class="page-subheading">{{lang 'parallaxbag.video.subheading'}}</h3>
		<div class="parallaxbag-videoSection-video">{{{lang 'parallaxbag.video.html'}}}</div>
	</div>
</div>
