@import "emthemesmodezicons";
@import "simple-line-icons";

$emthemesModez-body-max-xxlarge: remCalc(1620px) !default;
$emthemesModez-body-max-large: remCalc(1278px) !default;
$emthemesModez-container-width: remCalc(1122px) !default; // TODO: auto calculate this value
