<div class="visibleQuickSearch-form-container">{{! PapaThemes BoliOptics MOD }}
    <form class="form" action="{{urls.search}}" data-quick-search-form>
        <fieldset class="form-fieldset">
            <div class="form-field form-prefixPostfix">
                <label class="is-srOnly" for="search_query">{{lang "search.quick_search.input_label"}}</label>
                <input class="form-input form-input--small" data-search-quick name="search_query" id="search_query" data-error-message="{{lang 'search.error.empty_field'}}" placeholder="{{lang 'search.quick_search.input_placeholder'}}" autocomplete="off" />
                <button class="button button--primary" type="submit"><i class="emthemesModez-icon-linear-magnifier"></i></button>
            </div>
        </fieldset>
    </form>
</div>
