

{{> components/emthemes-modez/category/ajax-products-by-category
    category_id=(lang (concat "emthemesmodez.products_by_category.category_id_" index))
    image=(lang (concat "emthemesmodez.products_by_category.image_" index))
    heading=(lang (concat "emthemesmodez.products_by_category.heading_" index))
    text=(lang (concat "emthemesmodez.products_by_category.text_" index))
    button=(lang (concat "emthemesmodez.products_by_category.button_" index))
    style=(lang (concat "emthemesmodez.products_by_category.style_" index))
}}

