<section class="emthemesModez-imageCarousel"
    data-slick='{
        "centerMode": true,
        "centerPadding": "12.5%",
        "dots": true,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1
    }'>
    {{> components/emthemes-modez/sections/section-carousel-slide 
        image=(lang 'emthemesmodez.image_carousel.image_1')
        image_alt=(lang 'emthemesmodez.image_carousel.image_alt_1')
        heading=(lang 'emthemesmodez.image_carousel.heading_1')
        text=(lang 'emthemesmodez.image_carousel.text_1')
        button=(lang 'emthemesmodez.image_carousel.button_1')
        url=(lang 'emthemesmodez.image_carousel.url_1')
    }}
    {{> components/emthemes-modez/sections/section-carousel-slide 
        image=(lang 'emthemesmodez.image_carousel.image_2')
        image_alt=(lang 'emthemesmodez.image_carousel.image_alt_2')
        heading=(lang 'emthemesmodez.image_carousel.heading_2')
        text=(lang 'emthemesmodez.image_carousel.text_2')
        button=(lang 'emthemesmodez.image_carousel.button_2')
        url=(lang 'emthemesmodez.image_carousel.url_2')
    }}
    {{> components/emthemes-modez/sections/section-carousel-slide 
        image=(lang 'emthemesmodez.image_carousel.image_3')
        image_alt=(lang 'emthemesmodez.image_carousel.image_alt_3')
        heading=(lang 'emthemesmodez.image_carousel.heading_3')
        text=(lang 'emthemesmodez.image_carousel.text_3')
        button=(lang 'emthemesmodez.image_carousel.button_3')
        url=(lang 'emthemesmodez.image_carousel.url_3')
    }}
    {{> components/emthemes-modez/sections/section-carousel-slide 
        image=(lang 'emthemesmodez.image_carousel.image_4')
        image_alt=(lang 'emthemesmodez.image_carousel.image_alt_4')
        heading=(lang 'emthemesmodez.image_carousel.heading_4')
        text=(lang 'emthemesmodez.image_carousel.text_4')
        button=(lang 'emthemesmodez.image_carousel.button_4')
        url=(lang 'emthemesmodez.image_carousel.url_4')
    }}
    {{> components/emthemes-modez/sections/section-carousel-slide 
        image=(lang 'emthemesmodez.image_carousel.image_5')
        image_alt=(lang 'emthemesmodez.image_carousel.image_alt_5')
        heading=(lang 'emthemesmodez.image_carousel.heading_5')
        text=(lang 'emthemesmodez.image_carousel.text_5')
        button=(lang 'emthemesmodez.image_carousel.button_5')
        url=(lang 'emthemesmodez.image_carousel.url_5')
    }}
</section>
