<ul class="tabs" data-tab role="tablist">
    <li class="tab is-active" role="presentational">
        <a class="tab-title" href="#tab-custom1" role="tab" tabindex="0" aria-selected="true" controls="tab-custom1">{{lang 'herecomestheinvite.productpage_tab_1.title'}}</a>
    </li>
    <li class="tab" role="presentational">
        <a class="tab-title" href="#tab-custom2" role="tab" tabindex="0" aria-selected="false" controls="tab-custom2">{{lang 'herecomestheinvite.productpage_tab_2.title'}}</a>
    </li>
</ul>

<div class="tabs-contents">
    <div role="tabpanel" aria-hidden="false" class="tab-content is-active" id="tab-custom1">
        {{{lang 'herecomestheinvite.productpage_tab_1.content'}}}
    </div>

    <div role="tabpanel" aria-hidden="true" class="tab-content" id="tab-custom2">
        {{{lang 'herecomestheinvite.productpage_tab_2.content'}}}
    </div>
</div>

<div class="herecomestheinvite-productView-textblock">
    {{{lang 'herecomestheinvite.productpage_textblock'}}}
</div>
